/* .ant-menu-submenu-title {
  height: 55px !important;
} */
#menu {
  position: fixed;
  z-index: 900;
  /* height: 64px; */
  /* padding: 0 32px; */
  /* width: 100%; */
  /* background: #f8fafe; */
  transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
}

#scroll-div:hover {
  overflow-x: scroll;
}
#scroll-div::-webkit-scrollbar {
  display: none;
}

#root {
  overflow-x: hidden;
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 2s;
  /* animation-direction: reverse; */
  animation-timing-function: ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.layer-input-layer {
  color-scheme: light;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #baf7ff;
  /* width: 70%; */
  height: 80%;
  /* overflow: auto; */
  /* padding: 10px; */
  /* margin-bottom: 20px; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* display: inline-block; */
  margin: 10px auto;
  width: 60%;
}

.input-layer {
  padding-top: 10px;
}

.layer-conv-layer {
  color-scheme: light;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  /* width: 70%; */
  height: 80%;
  /* overflow: auto; */
  /* padding: 10px; */
  /* margin-bottom: 20px; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* display: inline-block; */
  margin: 10px auto;
  width: 60%;
}

.layer-maxpool-layer {
  color-scheme: light;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffeeba;
  padding-bottom: 10px;
  height: 80%;
  /* overflow: auto; */
  /* padding: 10px; */
  /* margin-bottom: 20px; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* display: inline-block; */
  margin: 10px auto;
  width: 60%;
}
